#! /bin/bash

## Specify pipeline root dir
MAIN_LOC=/hpc/pmc_vanboxtel/projects/my_project/

## Specify directory for final output
WORK_LOC=final_output/

## Specify pipeline input JSON location dir
INPUT_LOC=inputs/

## Specify dir that contains the relevant WDLs
WDL_LOC=wdl/

## Specify Cromwell dir
CROMWELL_LOC=/hpc/local/CentOS7/gen/software/wdl-29.0.12/

# Root folder of your IAP hg38 samples
HG38_MAP_LOC=/hpc/pmc_vanboxtel/processed/my_bam_dir/